<title>{{title}} | Loophaus - Coworking Space</title>

<!-- Meta Tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="title" content="Loophaus - Coworking Space" />
<meta
  name="description"
  content="Loophaus is a modern and fully responsive coworking space"
/>

<meta
  name="keywords"
  content="coworking space template, coworking website, shared office template, workspace rental website, office space tailwind template, coworking tailwind css template, startup office website, meeting room website"
/>

<meta name="author" content="Unifato" />
<meta name="robots" content="index, follow" />

<!-- Favicon -->
<link
  rel="shortcut icon"
  href="/images/loophaus_logo.png"
  type="image/x-icon"
/>
